/* Clément */
html{
    background-color: black;
}
body {
    margin: 0;
}
.noSelect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
header{
    width: 100vw;
    background-color: white;
    height: 93vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
header > img {
    width: 54vh;
    margin-bottom: 5vh;
}
header > p {
    font-family: Tahoma;
    color: black;
    font-size: 3em;
    font-weight: bold;
}

.Nav_Bar > div > a {
    font-family: 'Calibri';
    font-weight: bolder;
    letter-spacing: 0.2em;
    color: black;
    text-decoration: none;
}
.Nav_Bar > div > a, .Nav_Bar > div > a:hover {
    transition-property: transform letter-spacing;
    transition-duration: 300ms;
}
.Nav_Bar > div > a:hover {
    transform: scale(1.1);
    letter-spacing: 0.25em;
}

.Nav_Bar{
    position: sticky;
    background-color: white;
    z-index: 5;
    top: 0px;
    height: 7vh;
}
.Nav_Bar > div {
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-left: 7vw;
    margin-right: 7vw;
}

p, h1 {
    color: white;
    font-family: 'Calibri';
    margin: 0;
}

h1 { font-size: 4em; }
p { font-size: 1.5em; }

article {
    display: flex;
    flex-direction: column;
}
article > section {
    display: grid;
    align-items: center;
}
article > section :nth-child(2) > * {
    margin-left: 5vw;
    margin-right: 7vw;
}
article > section :nth-child(2) > h1 { margin-bottom: 8vh; }
article > section :nth-child(2) > p { margin-bottom: 8vh; }
article > section > img {
    width: 100%;
}
article section:nth-child(2n + 1) { 
    grid-template-columns: 1.2fr 0.8fr; 
    background-color: black;
}
article section:nth-child(2n + 1) > img { order: 2; }
article section:nth-child(2n) {
    grid-template-columns: 0.8fr 1.2fr; 
    background-color: white;
}
article section:nth-child(2n) > div > p, article section:nth-child(2n) > div > h1 {
    color: black;
}
/* Clément */

/* Jules */
footer {
    background-color: #202020;
    text-align: center;
    margin-top: 32px;
    padding: 16px;
}
footer > * {
    color: white;
}
/* Jules */
/* Titouan */
.collaborateurs {
    overflow-x: scroll;
    overflow: auto;
    white-space: nowrap;
}
.collaborateurs > div {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-grid;
    width: 400px; 
    height: 400px;
    grid-template-rows: 5% 75% 19% 1%;
    justify-items: center;
    align-items: center;
    background-color: rgb(61, 61, 65);
}
.collaborateurs > div > h2 {
    grid-row: 3;
    font-family: Verdana;
    color: black;
    font-size: 1.45em;
    margin-bottom: 0;
}
.collaborateurs > div > img {
    grid-row: 2;
    width: 90%;
    height: 100%;
}
/* Titouan */
